.heading {
  text-align: center;
  color: blue;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.color-green {
  font-weight: bolder;
  color: green;
  background-color: rgb(221, 250, 221);
}

.color-red {
  font-weight: 900;
  color: red;
  background-color: rgb(241, 250, 238);
}

.color-orange {
  font-weight: 300;
  color: orange;
  background-color: rgb(253, 250, 230);
}

.color-blue {
  font-weight: 600;
  color: blue;
  background-color: rgb(241, 247, 255);
}
